#root{
    width: 100vw;
    height: 100%;
}


.cursor {
    position: absolute;
    width: 70px; 
    height: 70px;
    border-radius: 50%; 
    background-color: var(--color-shade-cursor); 
    pointer-events: none; 
    transition: all 0.2s ease-out;
    transform: translate(-50%, -50%); 
    opacity: 0.2;
    z-index: 9999;   
}

button {
    border-radius: 12px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: var(--color-blue);
}

button:focus, button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.element{
    transition: transform 0.3s ease;
}

.element:hover{
    transform: scale(1.04);
    cursor: pointer;
}

/*Animations*/
@keyframes slide-down {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.animate-slide-down {
    animation: slide-down 1s ease-out;
}


@keyframes slide-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.animate-slide-left {
    animation: slide-left 1s ease-out;
}


@keyframes vertical-carousel {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-300%);
    }
}
  
.animate-vertical-carousel {
    animation: vertical-carousel 20s linear infinite;
}
 .card-border {
  position: relative;
  border: 2px solid #3b82f6;
  border-radius: 16px;
  overflow: hidden;
}

/* puntico */
.card-border::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: #60a5fa;
  border-radius: 50%;

  offset-path: inset(0 round 16px);
  offset-distance: 0%;
  animation: orbit 10s linear infinite;
}

/* halo gruesito */
.card-border::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border: 3px solid rgba(96,165,250,0.8);
  border-radius: 50%;
  filter: blur(6px);

  offset-path: inset(0 round 16px);
  offset-distance: 0%;
  animation: orbit 10s linear infinite;
}

@keyframes orbit {
  to {
    offset-distance: 100%;
  }
}